<?xml version="1.0"?>
<launch>
  <!-- <node name="rm_node20" pkg="velodyne_height_map" type="rm_node20" /> -->
  <node name="rm_node20" pkg="velodyne_height_map" type="rm_node20" />
  <node name="cpu_clustering" pkg="clustering" type="cpu_clustering" />
  <!-- <node name="test_human_detection" pkg="classification" type="test_human_detection_v2" output="screen" /> -->
  <!-- <node name="test_human_detection" pkg="human_detection" type="test_human_detection_v2" output="screen"/> -->
  <node name="test_human_detection" pkg="human_detection" type="test_human_detection_v2" />
  <!-- <node name="rwrc14_remove_cluster_for_3dmap" pkg="human_detection" type="rwrc14_remove_cluster_for_3dmap" output="screen" /> -->
  <node name="rwrc14_remove_cluster_for_3dmap" pkg="human_detection" type="rwrc14_remove_cluster_for_3dmap"/>
  <!-- <node name="remove_cluster_for_3dmap" pkg="human_detection" type="remove_cluster_for_3dmap" output="screen" /> -->
</launch>
