<?xml version="1.0"?>
<launch>
  <node name="velodyne_index_2time" pkg="classification" type="velodyne_index_2time" />
  <node name="rm_node20" pkg="velodyne_height_map" type="rm_node20" />
  <node name="cpu_clustering" pkg="clustering" type="cpu_clustering" />
  <node name="test_human_detection_v2" pkg="classification" type="test_human_detection_v2" output="screen" />
  <node name="visu_kf" pkg="tracking" type="visu_kf"/>
  <!-- <node name="visu_kf_traject" pkg="tracking" type="visu_kf_traject"/> -->
  <node name="remove_cluster" pkg="classification" type="remove_cluster"/>
</launch>
